*

# But not these files...
!.gitignore
!RPi Socket Communication Assignment/rtes_rpisc_p2p.c
!RPi Socket Communication Assignment/rtes_rpisc_ringbuffer.h
!RPi Socket Communication Assignment/rtes_rpisc_ringbuffer.c
!Time Sampling Assignment/rtes_alarm.c
!Time Sampling Assignment/rtes_enhancedSleep.c
